<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.haohaoli.OrderMapper">

  <resultMap id="Base_Map" type="cn.haohaoli.Order">
      <id column="id" property="id"/>
      <result column="user_id" property="userId"/>
  </resultMap>

  <insert id="save">
    insert into `order` (id)
  </insert>

    <select id="getByUserId" resultType="cn.haohaoli.Order">
        select * from `order` where user_id = #{id}
    </select>

  <select id="selectList" parameterType="cn.haohaoli.User" resultType="cn.haohaoli.Order">
    select * from `order`
      <where>
        <if test="id != ''">
          user_id = #{id}
        </if>
      </where>
  </select>
</mapper>
