<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.haohaoli.UserMapper">

    <cache blocking="true"  />

    <sql id="all"> *, ${u},${x}</sql>

  <sql id="xing"> * </sql>
    <resultMap id="BaseResultMap" type="cn.haohaoli.User">
      <id property="id" column="id" />
      <result property="age" column="age"/>
      <result property="name" column="name"/>
      <collection
          property="orderList"
          ofType="cn.haohaoli.Order"
          select="cn.haohaoli.OrderMapper.getByUserId"
          column="id" />
    </resultMap>

    <resultMap id="constructor_BaseResultMap" type="cn.haohaoli.User">
      <constructor>
        <idArg name="id" column="id"/>
        <arg name="name" column="name"/>
      </constructor>
      <result property="age" column="age"/>
    </resultMap>

  <insert id="save" parameterType="cn.haohaoli.User">
    <selectKey keyProperty="id" keyColumn="c" >
      select count(1) as c from user
    </selectKey>
    insert into user (id,`name`,age) value (#{name },#{age})
  </insert>

    <select id="getById" resultMap="BaseResultMap" parameterType="int">
        select
            <include refid="all">
                <property name="x" value="${u}"/>
            </include>
        from user where id = #{p0}
    </select>

    <select id="selectList" resultMap="BaseResultMap" statementType="STATEMENT">
        select * from user limit 2
    </select>

    <update id="updateById">
        update user set age = #{param1} where id = #{param2}
    </update>

</mapper>
